/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --title-bg: #ff0070;
  --main-title-color: #db00ff;
  --title-color: #ff0070;
  --title-shadow: #ff0070;
  --background-header: url(/images/cover-image-dark.png);
  --nav-button-hover: rgba(255, 0, 112, 0.4);
  --nav-button-focus: #ff0070;
  --text-color: #f1b2ce;
  --background-image: #000028;
  --link-color: #f1b2ce;
  --color-title-dop:#000028;
}
